<footer class="new_footer_area bg_color">
    <div class="new_footer_top">
        <div class="container-fluid  pl-md-5 ">
            <div class="row">
                <div class=" col-lg-3 col-md-6 mb-5 d-none d-sm-block ">
                    <div class="f_widget company_widget">
                        <h3 class="f-title f_600 t_color f_size_18">NEWSLETTER</h3>
                        <p>Don't miss any updates of our new product.</p>
                        <form action="#" class="f_subscribe_two mailchimp" method="post" novalidate="true" _lpchecked="1">
                            <input type="text" name="EMAIL" class="form-control memail" placeholder="Your@Emial.com">
                            <button class="btn btn_get btn_get_two" type="submit">Subscribe</button>
                            <p class="mchimp-errmessage" style="display: none;"></p>
                            <p class="mchimp-sucmessage" style="display: none;"></p>

                        </form>
                    </div>
                </div>
                <div class=" col-lg-3 col-md-6 mb-5 d-none d-sm-block">
                    <div class="f_widget about-widget pl_70 ">
                        <h3 class="f-title f_600 t_color f_size_18">QUICK LINKS</h3>
                        <ul class="list-unstyled f_list">
                            <li><a routerLink="/Home" routerLinkActive="active">HOME</a></li>
                            <li><a routerLink="/Home/AboutUs" routerLinkActive="active">ABOUT US</a></li>
                            <li><a routerLink="/Home/ContactUs" routerLinkActive="active">CONTACT US</a></li>
                            <li><a routerLink="" routerLinkActive="active">SUPPORT</a></li>
                        </ul>
                    </div>
                </div>
                <div class=" col-lg-3 col-md-6 mb-5 ">
                    <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18">CATEGORIES</h3>
                        <ul class="list-unstyled f_list">
                            <li><a href="#">MEN'S</a></li>
                            <li><a href="#">WOMEN'S</a></li>
                            <li><a href="#">KID'S</a></li>
                            <li><a href="#">RUNNING</a></li>

                            <li>
                                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                                      MORE</a>
                                <ul class="collapse list-unstyled" id="pageSubmenu">
                                    <li>
                                        <a href="#">ACCESSORIES</a>
                                    </li>
                                    <li>
                                        <a href="#">NEW ARRIVAL</a>
                                    </li>
                                    <li>
                                        <a href="#">BEST SELLERS</a>
                                    </li>
                                    <li>
                                        <a href="#">OFFER'S</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class=" col-lg-3 col-md-6 mb-5">
                    <div class="f_widget about-widget pl_70">
                        <h3 class="f-title f_600 t_color f_size_18">SOCIAL MEDIA </h3>
                        <ul class="list-unstyled ">
                            <li>
                                <a href="#"><img src="../../assets/img/1f.png" alt="" class="icon-size"></a>
                                <a href="#"><img src="../../assets/img/5t.png" alt="" class="icon-size"></a>
                                <a href="#"><img src="../../assets/img/3i.png" alt="" class="icon-size"></a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="container-fluid pl-md-5 pr-md-5">
            <div class="row align-items-center">
                <div class="col-lg-6 col-sm-7">
                    <p class="mb-0 f_400">© Web Development Team 2020 . </p>
                </div>
                <div class="col-lg-6 col-sm-5 text-right">
                    <p class="mb-0 f_400">Pays Way
                        <a href="#"><img src="../../assets/img/7v.png" alt="" class="icon-size"></a>
                        <a href="#"><img src="../../assets/img/8mc.png" alt="" class="icon-size"></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
