<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card card-signin flex-row my-5">
                <div class="card-img-left d-none d-md-flex">
                    <!-- Background image for card set in CSS! -->
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">Log In</h5>
                    <form class="form-signin">

                        <div class="form-label-group mt-3">
                            <label for="inputEmail">Email</label>
                            <input type="email" id="inputEmail" class="form-control" placeholder="Your Email" required autofocus>

                        </div>


                        <div class="form-label-group mt-3">
                            <label for="inputPassword">Password</label>
                            <input type="password" id="inputPassword" class="form-control" placeholder="Your Password" required>

                        </div>


                        <button class="btn btn-lg btn-register btn-block text-uppercase mt-3" type="submit">log in</button>
                        <a class="d-block text-center mt-2 small link" routerLink='/Registration/Signup'>Sign up</a>
                        <div class="separator my-4">OR</div>
                        <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Log In with Google</button>
                        <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Log In with Facebook</button>
                    </form>
                    <a class="d-block text-right mt-5 mr-2 small link" routerLink='/Home'><i class='bx bx-fw bx-home'></i> Back Home</a>

                </div>
            </div>
        </div>
    </div>
</div>