<div class="card shadow mb-4">
    <div class="card-header py-2 pt-3">
        <h4 class="h4  text-gray-800">Offer</h4>
    </div>
    <div class="card-body">
        <form class="needs-validation" novalidate>
            <div class="form-row">
                <div class="input-group mb-3 col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default"> <i class="fa fas fa-shopping-bag"
          aria-hidden="true"></i></span>
                    </div>
                    <input type="text" name="productName" [(ngModel)]='productName' class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Product Name..." id="validationCustom01" required disabled>
                    <div class="invalid-feedback">
                        Please provide a Product Name.
                    </div>
                </div>
                <div class="input-group mb-3 col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default"> <i class="fas fa-dollar-sign"
          aria-hidden="true"></i></span>
                    </div>
                    <input type="number" name="productPrice" [(ngModel)]='productPrice' class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="product Price..." id="validationCustom02" required disabled>
                    <div class="invalid-feedback">
                        Please provide a Product Price.
                    </div>
                </div>
                <div class="input-group mb-3 col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default"> <i class="fas fas fa-user-tag"
          aria-hidden="true"></i></span>
                    </div>
                    <input type="number" name="qty" [(ngModel)]='qty' class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Offer Price..." id="validationCustom03 " required>
                    <div class="invalid-feedback">
                        Please provide a Offer Price.
                    </div>
                </div>

            </div>

            <button type="submit" (click)="saveAfterEditProduct()" class="btn btn-primary btn-md btn-block" id="edit"> <i class="fas fa-save fa-fw mr-2"></i>Edit</button>
        </form>
    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Offer's</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="datatable example" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered d-table row-border stripe hover" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th class="dt-head-left">Name</th>
                        <th class="dt-head-left">Price</th>
                        <th class="dt-head-left">Quantity</th>
                        <!-- <th>categoryName</th> -->
                        <th class="dt-head-left">Description</th>
                        <th class="dt-head-right">Actions </th>
                    </tr>
                </thead>
                <tbody *ngIf="products?.length != 0">
                    <tr *ngFor="let products of products">
                        <td class="dt-body-left text-truncate" style="max-width: 100px;">{{ products.productName }}</td>
                        <td class="dt-body-left text-truncate" style="max-width: 70px;">{{ products.productPrice }}</td>
                        <td class="dt-body-left text-truncate" style="max-width: 70px;">{{ products.qty }}</td>
                        <td class="dt-body-left text-truncate" style="max-width: 150px;">{{ products.description }}</td>
                        <td class="d-flex justify-content-center">
                            <a type="button" (click)="deleteProduct(products.productId)" class=" " placement="left" ngbTooltip="Remove"> <i class="fas fa-trash fa-fw mr-2"></i></a>
                            <a type="button" (click)="getProductbyid(products)" class=" " placement="right" ngbTooltip="Edit"> <i class="fas fa-edit fa-fw mr-2"></i></a>
                            <a type="button" (click)="getProductbyid(products)" class=" " placement="right" ngbTooltip="offer"> <i class="fas fa-tags fa-fw mr-2"></i></a>

                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
