@import "../app.component.scss";
* {
    font-family: Montserrat;
}

.h-sizing {
    font-size: 70px;
    color: $black;
    line-height: 1.4;
}

.h-sizing2 {
    font-size: 30px;
    color: $ocean-green;
    line-height: 1.4;
}

.btn {
    font-weight: 500;
    border-color: $black;
    border-width: 2px;
    color: $black;
    &:hover {
        border-color: $ocean-green;
        border-width: 2px;
        background-color: $ocean-green;
        color: $white;
    }
}

@media (max-width: 1024px) {
    .h-sizing {
        font-size: 50px;
    }
    .h-sizing2 {
        font-size: 36px;
    }
}

@media (max-width: 768px) {
    .h-sizing {
        font-size: 50px;
    }
    .h-sizing2 {
        font-size: 36px;
    }
}

@media (max-width: 540px) {
    img {
        padding-left: 100px;
    }
    .h-sizing {
        font-size: 60px;
    }
    .h-sizing2 {
        font-size: 38px;
    }
}

@media (max-width: 414px) {
    .h-sizing {
        font-size: 50px;
        line-height: 1.8;
    }
    .h-sizing2 {
        font-size: 30px;
        line-height: 1.8;
    }
}

@media (max-width: 320px) {
    .h-sizing {
        font-size: 40px;
        line-height: 1;
    }
    .h-sizing2 {
        font-size: 24px;
        line-height: 1;
    }
}

@media (max-width: 280px) {
    .h-sizing {
        font-size: 40px;
    }
    .h-sizing2 {
        font-size: 24px;
    }
}
