<div class="jumbotron bg-image">
    <div class="container">
        <h1 class="animate__animated animate__zoomIn animate__delay-2s	2s">About Us</h1>
        <p class="text text-center animate__animated animate__zoomIn animate__delay-2s	2s">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus similique blanditiis architecto repellendus cupiditate saepe, voluptate vitae explicabo et sit voluptatum. Animi ullam eum ut quidem fugit vel atque iusto.</p>
        <p><a class="btn animate__animated animate__wobble animate__delay-3s	3s" (click)="scrollToId('elId4')" role="button">See More <i class="bx-fw bx bx-down-arrow-alt bx-fade-down-hover" ></i></a></p>
    </div>
    <!--   /container  -->
</div>
