<div class='container-fluid mx-auto mt-5 mb-5 col-12' style="text-align: center" id="elId4">
    <div class=" mb-4 ">
        <div class="col-12 card-title mb-1 mt-1 text-center my-5 Title" data-aos="fade-up" data-aos-duration="3000"> <span class="under-line">Shop By Category</span> </div>
    </div>
    <div class="row" style="justify-content: center">
        <div class="card col-10 col-md-3  m-4">
            <div class="card-content">
                <div class="card-body"> <img class="img" src="../../../assets/img/support.png" />
                    <div class="shadow"></div>
                    <div class="card-title"> Customer Care </div>
                    <div class="card-subtitle">
                        <p> <small class="text-muted">We firmly believed that our customers deserved more choices, straightforward information and legendary service.</small> </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-10 col-md-3  ml-2 m-4">
            <div class="card-content">
                <div class="card-body"> <img class="img" src="../../../assets/img/quality.png" />
                    <div class="card-title">Highest Quality</div>
                    <div class="card-subtitle">
                        <p> <small class="text-muted"> We only work with high-quality, enduring materials, from precious metals to chains, set with genuine gemstones and ethically sourced diamonds.</small> </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-10 col-md-3  ml-2 m-4">
            <div class="card-content">
                <div class="card-body"> <img class="img rck" src="../../../assets/img/budgeting.png" />
                    <div class="card-title"> Best Price </div>
                    <div class="card-subtitle">
                        <p> <small class="text-muted">We do things differently. To make luxury accessible, we've built relationships with the best manufacturers and sell directly to you.</small> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="justify-content: center">
        <div class="card col-10 col-md-3  m-4">
            <div class="card-content">
                <div class="card-body"> <img class="img" src="../../../assets/img/store.png" />
                    <div class="shadow"></div>
                    <div class="card-title"> Close To You </div>
                    <div class="card-subtitle">
                        <p> <small class="text-muted">You can find our stores in a lot of Saudi Arabia cities near to you so you can easily honer us and see how our products and services are really good.</small> </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-10 col-md-3  ml-2 m-4">
            <div class="card-content">
                <div class="card-body"> <img class="img" src="../../../assets/img/new-item.png" />
                    <div class="card-title"> New Arrivals</div>
                    <div class="card-subtitle">
                        <p> <small class="text-muted">a new product every month up to data with last fashion stylest </small> </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-10 col-md-3  ml-2 m-4">
            <div class="card-content">
                <div class="card-body"> <img class="img rck" src="../../../assets/img/express-delivery.png" />
                    <div class="card-title"> Fast Delivery </div>
                    <div class="card-subtitle">
                        <p> <small class="text-muted">We make sure your bys request comes to you in the fastest way we can do.</small> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
