<div class='container-fluid mx-auto mt-5 mb-5 col-12' style="text-align: center" id="elId3" #target>
    <div class="hd mb-4 ">
        <div class="col-12 card-title mb-1 mt-1 text-center my-5 Title" data-aos="fade-up" data-aos-duration="3000"> <span class="under-line">Contact With Us By</span> </div>
    </div>
    <div class="row" style="justify-content: center">
        <div class="card col-10 col-md-3  m-4">
            <div class="card-content">
                <div class="card-body"> <img class="img" src="../../../assets/phone.png" />
                    <div class="shadow"></div>
                    <div class="card-title"> Our Phones </div>
                    <div class="card-subtitle">
                        <ul class="list-unstyled">
                            <li>
                                <a class="text-muted"> 0123456789 </a>
                            </li>
                            <li>
                                <a class="text-muted"> 0112233445</a>
                            </li>
                            <li>
                                <a class="text-muted"> 0566778899 </a>
                            </li>
                            <li>
                                <a class="text-muted"> 9874561230 </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-10 col-md-3  m-4">
            <div class="card-content">
                <div class="card-body"> <img class="img" src="../../../assets/store.png" />
                    <div class="shadow"></div>
                    <div class="card-title"> Our Branches </div>
                    <div class="card-subtitle">
                        <ul class="list-unstyled">
                            <li>
                                <a class="text-muted"> Riyadh 17st 2400. </a>
                            </li>
                            <li>
                                <a class="text-muted"> Jeddah 15st 1600.</a>
                            </li>
                            <li>
                                <a class="text-muted"> Abha 10st 4500. </a>
                            </li>
                            <li>
                                <a class="text-muted"> Taif 32st 2700. </a>
                            </li>
                            <li>
                                <a class="text-muted"> Mecca 14st 1800. </a>
                            </li>
                            <li>
                                <a class="text-muted"> Dammam 25st 3600. </a>
                            </li>
                            <li>
                                <a class="text-muted"> Al Madinah 13st 1900. </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-10 col-md-3  m-4">
            <div class="card-content">
                <div class="card-body"> <img class="img" src="../../../assets/email.png" />
                    <div class="shadow"></div>
                    <div class="card-title"> Our Mails </div>
                    <div class="card-subtitle ">
                        <ul class="list-unstyled left-align">
                            <li>
                                <a class="text-muted"> 7eno@gmail.com </a>
                            </li>
                            <li>
                                <a class="text-muted"> 7eno@yahoo.com</a>
                            </li>
                            <li>
                                <a class="text-muted"> 7eno@hotmail.com </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
