@import "../../app.component.scss";
.Title {
    color: $black;
    font-size: 2.5em;
    .under-line {
        font-weight: 800;
        color: $black;
        background-image: linear-gradient( transparent calc(75% - 5px), lighten($pear, 5%) 5px, );
        background-size: 0;
        background-repeat: no-repeat;
        display: inline;
        transition: 0.5s ease;
    }
    &:hover {
        .under-line {
            background-size: 100%;
        }
    }
}

.card {
    cursor: pointer
}

.card.hover,
.card:hover {
    box-shadow: 0 10px 30px rgba($black, 0.10)
}

.img {
    width: 25%;
    height: 15%;
    margin-bottom: 35px;
}

.text-muted {
    font-size: 14px;
    line-height: 1.8;
    color: $black;
}

.card-title {
    font-weight: 600;
    color: $black;
}

ul {
    direction: none;
    a {
        &:hover {
            text-decoration: none;
        }
    }
}

@media (min-width: 2560px) {
    .text-muted {
        font-size: 18px;
    }
    .card-title {
        font-size: 24px;
    }
    .Title {
        font-size: 2.8em;
        font-weight: 800;
    }
}

@media (max-width: 1024px) {
    .Title {
        font-size: 2.4em;
        .under-line {
            font-weight: 800;
        }
    }
}

@media (max-width: 768px) {
    .Title {
        font-size: 1.8em;
        .under-line {
            font-weight: 800;
        }
    }
}

@media (max-width: 540px) {
    .Title {
        font-size: 1.4em;
        .under-line {
            font-weight: 800;
        }
    }
}

@media (max-width: 414px) {
    .Title {
        font-size: 1.4em;
        .under-line {
            font-weight: 800;
        }
    }
}

@media (max-width: 375px) {
    .Title {
        font-size: 1.4em;
        .under-line {
            font-weight: 800;
        }
    }
}

@media (max-width: 360px) {
    .Title {
        font-size: 1.4em;
        .under-line {
            font-weight: 800;
        }
    }
}

@media (max-width: 320px) {
    .Title {
        font-size: 1.4em;
        .under-line {
            font-weight: 800;
        }
    }
}

@media (max-width: 280px) {
    .Title {
        font-size: 1.4em;
        .under-line {
            font-weight: 800;
        }
    }
}
