@import "../../styles.scss";
.out-container {
    height: 100%;
    background-color: $white;
    background-image: url('./../../assets/img/sidebar.svg');
    background-repeat: repeat repeat-x repeat-y;
}

.accordion {
    border: 0px;
    border-radius: 0px;
}

.theHead {
    border-bottom: 3px solid $ecru;
    font-weight: 700;
    color: $black;
}

span {
    color: $ecru;
}

a:hover {
    text-decoration: none;
}


/*  text input with search icon */

.has-search .form-control {
    padding-left: 2.375rem;
}

.form-control:focus {
    color: $ecru;
    border-color: $ecru;
    box-shadow: 0 0 0 0.2rem rgba( $ecru, 0.15);
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: $ecru;
}


/* The container check box styling */

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default checkbox */

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: $powder-blue;
}


/* On mouse-over, add a grey background color */

.container:hover input~.checkmark {
    background-color: $powder-blue;
}


/* When the checkbox is checked, add a ecru background */

.container input:checked~.checkmark {
    background-color: $ecru;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.container input:checked~.checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid $white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

//the range styling
@mixin range-slider($width,
$height,
$input-top,
$input-bg-color,
$input-thumb-color,
$float:none,
$input-height:20px,
$input-border-radius:4px) {
    position: relative;
    width: $width;
    height: $height;
    float: $float;
    font-weight: 500;
    text-align: center;
    input[type="range"] {
        pointer-events: none;
        position: absolute;
        -webkit-appearance: none;
        // -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        border: none;
        border-radius: $input-border-radius;
        background: $input-bg-color;
        box-shadow: inset 0 1px 0 0 darken($input-bg-color, 15%), inset 0 -1px 0 0 darken($input-bg-color, 10%);
        -webkit-box-shadow: inset 0 1px 0 0 darken($input-bg-color, 15%), inset 0 -1px 0 0 darken($input-bg-color, 10%);
        overflow: hidden;
        left: 0;
        top: $input-top;
        width: $width;
        outline: none;
        height: $input-height;
        margin: 0;
        padding: 0;
    }
    input[type="range"]::-webkit-slider-thumb {
        pointer-events: all;
        position: relative;
        z-index: 1;
        outline: 0;
        -webkit-appearance: none;
        width: $input-height;
        height: $input-height;
        border: none;
        border-radius: $input-border-radius;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, lighten($input-thumb-color, 0%)), color-stop(100%, $input-thumb-color));
        /* android <= 2.2 */
        background-image: -webkit-linear-gradient(top, lighten($input-thumb-color, 0%) 0, $input-thumb-color 100%);
        /* older mobile safari and android > 2.2 */
        ;
        background-image: linear-gradient(to bottom, lighten($input-thumb-color, 0%) 0, $input-thumb-color 100%);
        /* W3C */
    }
    input[type="range"]::-moz-range-thumb {
        pointer-events: all;
        position: relative;
        z-index: 10;
        -moz-appearance: none;
        width: $input-height;
        height: $input-height;
        border: none;
        border-radius: $input-border-radius;
        background-image: linear-gradient(to bottom, lighten($input-thumb-color, 0%) 0, $input-thumb-color 100%);
        /* W3C */
    }
    input[type="range"]::-ms-thumb {
        pointer-events: all;
        position: relative;
        z-index: 10;
        -ms-appearance: none;
        width: $input-height;
        height: $input-height;
        border-radius: $input-border-radius;
        border: 0;
        background-image: linear-gradient(to bottom, lighten($input-thumb-color, 0%) 0, $input-thumb-color 100%);
        /* W3C */
    }
    input[type=range]::-moz-range-track {
        position: relative;
        z-index: -1;
        background-color: rgba($black, 1);
        border: 0;
    }
    input[type=range]:last-of-type::-moz-range-track {
        -moz-appearance: none;
        background: none transparent;
        border: 0;
    }
    input[type=range]::-moz-focus-outer {
        border: 0;
    }
}

section.range-slider {
    @include range-slider(300px,
    280px,
    40px,
    $powder-blue,
    $ecru,
    left);
}

//===================================================================================================
//=========================================card styling here=========================================
//===================================================================================================
.d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.align-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.flex-centerY-centerX {
    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.page-wrapper {
    height: 100%;
    display: table;
}

.page-wrapper .page-inner {
    display: table-cell;
    vertical-align: middle;
}

.el-wrapper {
    width: 300px;
    padding: 15px;
    margin-top: 25px;
    margin-left: 35px;
    background-color: $white;
    border: 0.5px solid;
    border-color: $spanish-grey;
    box-shadow: ($spanish-grey, 0.25);
}

.el-wrapper:hover .price {
    left: 20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    color: $black;
}

.el-wrapper:hover .add-to-cart {
    left: 50%;
}

.el-wrapper:hover .img {
    // webkit-filter: blur(7px);
    -o-filter: blur(7px);
    -ms-filter: blur(7px);
    filter: blur(7px);
    // filter: progid: DXImageTransform.Microsoft.Blur(pixelradius='7', shadowopacity='0.0');
    opacity: 0.4;
}

.el-wrapper:hover .info-inner {
    bottom: 155px;
}

.el-wrapper:hover .a-size {
    -webkit-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    transition-delay: 300ms;
    bottom: 50px;
    opacity: 1;
}

.el-wrapper .box-down {
    width: 100%;
    height: 60px;
    position: relative;
    overflow: hidden;
}

.el-wrapper .box-up {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.el-wrapper .img {
    padding: 20px 0;
    width: 100%;
    height: 220px;
    -webkit-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
}

.h-bg {
    -webkit-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    width: 660px;
    height: 100%;
    background-color: $pear;
    position: absolute;
    left: -659px;
}

.h-bg .h-bg-inner {
    width: 50%;
    height: 100%;
    background-color: $pear;
}

.info-inner {
    -webkit-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    position: absolute;
    width: 100%;
    bottom: 25px;
}

.info-inner .p-name,
.info-inner .p-company {
    display: block;
}

.info-inner .p-name {
    // font-family: 'PT Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: $black;
}

.info-inner .p-company {
    margin: 5px 35px;
    padding: 2px 0;
    text-align: center;
    text-decoration: none;
    border: 1.5px solid $ecru;
    border-radius: 2px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: $ecru;
}

.a-size {
    -webkit-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    position: absolute;
    width: 100%;
    bottom: -20px;
    // font-family: 'PT Sans', sans-serif;
    font-weight: 500;
    color: $middle-blue;
    opacity: 0;
}

.a-size .size {
    color: $black;
}

.cart {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-weight: 700;
}

.cart .price {
    -webkit-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    transition-delay: 100ms;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 14px;
    color: $black;
}

.cart .add-to-cart {
    -webkit-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    transition-delay: 100ms;
    display: block;
    position: absolute;
    top: 50%;
    left: 110%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.cart .add-to-cart .txt {
    font-size: 12px;
    color: $white;
    text-decoration: none;
    letter-spacing: 0.045em;
    text-transform: uppercase;
    white-space: nowrap;
}


/* Custom Badge */

span.badge {
    font-size: 12px;
    line-height: 16px;
    position: absolute;
    z-index: 1000;
    color: $white;
    padding: 5px 10px;
    background: $pear;
    font-weight: 700;
    border-radius: 100px;
}

@media (max-width: 2560px) {
    .el-wrapper {
        width: 295px;
        padding: 15px;
        margin-top: 25px;
        margin-left: 30px;
    }
}

@media (max-width: 1024px) {
    .el-wrapper {
        width: 300px;
        padding: 15px;
        margin-top: 25px;
        margin-left: 30px;
    }
}

@media (max-width: 768px) {
    .el-wrapper {
        width: 250px;
        padding: 15px;
        margin-top: 25px;
        margin-left: 30px;
    }
    .cart .add-to-cart .txt {
        padding-left: 30px;
    }
    section.range-slider {
        @include range-slider(140px,
        280px,
        40px,
        $powder-blue,
        $ecru,
        left);
    }
}

@media (max-width: 540px) {
    .el-wrapper {
        width: 300px;
        padding: 15px;
        margin-top: 25px;
        margin-left: 120px;
    }
    section.range-slider {
        @include range-slider(200px,
        280px,
        40px,
        $powder-blue,
        $ecru,
        left);
    }
}

@media (max-width: 414px) {
    .el-wrapper {
        width: 300px;
        padding: 15px;
        margin-top: 25px;
        margin-left: 50px;
    }
}

@media (max-width: 411px) {
    .el-wrapper {
        width: 300px;
        padding: 15px;
        margin-top: 25px;
        margin-left: 50px;
    }
}

@media (max-width: 375px) {
    .el-wrapper {
        width: 300px;
        padding: 15px;
        margin-top: 25px;
        margin-left: 35px;
    }
}

@media (max-width: 360px) {
    .el-wrapper {
        width: 300px;
        padding: 15px;
        margin-top: 25px;
        margin-left: 30px;
    }
}

@media (max-width: 320px) {
    .el-wrapper {
        width: 300px;
        padding: 15px;
        margin-top: 25px;
        margin-left: 10px;
    }
}

@media (max-width: 280px) {
    .el-wrapper {
        width: 270px;
        padding: 15px;
        margin-top: 25px;
        margin-left: 5px;
    }
}

.el-wrapper:hover .h-bg {
    left: 0px;
}

.el-wrapper:hover {
    border: 0.5px solid;
    border-color: $ocean-green;
    box-shadow: ($ocean-green, 0.25);
}
