<section class="p-0 m-0">
    <div class=" row p-0 m-0">
        <div class="col-xl-3 col-lg-4 col-md-3 col-sm-12 p-0 m-0 border-0">
            <div class="out-container  p-0 m-0 border-0">
                <!-- Accordion -->
                <div id="accordionExample" class="accordion border-0">
                    <!-- Accordion item 1 -->
                    <div class="card">
                        <div class="card-header bg-white theHead ">FILTER</div>
                        <div id="headingOne" class="card-header bg-white shadow-sm border-0">
                            <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="d-block position-relative text-dark text-uppercase collapsible-link py-2"><span><i class="fas fa-search mr-1"></i></span>search</a></h6>
                        </div>
                        <div id="collapseOne" aria-labelledby="headingOne" data-parent="#accordionExample" class="collapse show">
                            <div class="card-body">
                                <!-- Actual search box -->
                                <div class="form-group has-search">
                                    <span class="fa fa-search form-control-feedback"></span>
                                    <input type="text" class="form-control" placeholder="Search">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Accordion item 4 -->
                    <div class="card">
                        <div id="headingFour" class="card-header bg-white shadow-sm border-0">
                            <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" class="d-block position-relative collapsed text-dark text-uppercase collapsible-link py-2"><span><i class="far fa-folder"></i></span> category</a></h6>
                        </div>
                        <div id="collapseFour" aria-labelledby="headingFour" data-parent="#accordionExample" class="collapse">
                            <div class="card-body">
                                <label class="container">	ALL
                          <input type="checkbox">
                          <span class="checkmark"></span>
                        </label>
                                <label class="container">	MEN'S
                          <input type="checkbox">
                          <span class="checkmark"></span>
                        </label>
                                <label class="container">WOMEN'S
                          <input type="checkbox">
                          <span class="checkmark"></span>
                        </label>
                                <label class="container">KID'S
                          <input type="checkbox">
                          <span class="checkmark"></span>
                        </label>
                                <label class="container">RUNNING
                          <input type="checkbox">
                          <span class="checkmark"></span>
                        </label>
                            </div>
                        </div>
                    </div>
                    <!-- Accordion item 2 -->
                    <div class="card">
                        <div id="headingTwo" class="card-header bg-white shadow-sm border-0">
                            <h6 class="mb-0 font-weight-bold">
                                <a href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="d-block position-relative collapsed text-dark text-uppercase collapsible-link py-2"> <span><i class="fas fa-shoe-prints mr-1"></i></span> size</a>
                            </h6>
                        </div>
                        <div id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordionExample" class="collapse">
                            <div class="card-body">
                                <label class="container">39
                            <input type="checkbox">
                            <span class="checkmark"></span>
                          </label>
                                <label class="container">	40-41
                            <input type="checkbox">
                            <span class="checkmark"></span>
                          </label>
                                <label class="container">	41-43
                            <input type="checkbox">
                            <span class="checkmark"></span>
                          </label>
                                <label class="container">43-45
                            <input type="checkbox">
                            <span class="checkmark"></span>
                          </label>
                                <label class="container">45-47
                            <input type="checkbox">
                            <span class="checkmark"></span>
                          </label>
                                <label class="container">47-49
                            <input type="checkbox">
                            <span class="checkmark"></span>
                          </label>
                            </div>
                        </div>
                    </div>
                    <!-- Accordion item 3 -->
                    <div class="card">
                        <div id="headingThree" class="card-header bg-white shadow-sm border-0">
                            <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class="d-block position-relative collapsed text-dark text-uppercase collapsible-link py-2"><span><i class="fas fa-boxes mr-1"></i></span> quantity</a></h6>
                        </div>
                        <div id="collapseThree" aria-labelledby="headingThree" data-parent="#accordionExample" class="collapse">
                            <div class="card-body">
                                <label class="container">50
                            <input type="checkbox">
                            <span class="checkmark"></span>
                          </label>
                                <label class="container">	100
                            <input type="checkbox">
                            <span class="checkmark"></span>
                          </label>
                                <label class="container">	150
                            <input type="checkbox">
                            <span class="checkmark"></span>
                          </label>
                                <label class="container">200
                            <input type="checkbox">
                            <span class="checkmark"></span>
                          </label>
                                <label class="container">250
                            <input type="checkbox">
                            <span class="checkmark"></span>
                          </label>
                            </div>
                        </div>
                    </div>
                    <!-- Accordion item 5 -->
                    <div class="card">
                        <div id="headingFive" class="card-header bg-white shadow-sm border-0">
                            <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive" class="d-block position-relative collapsed text-dark text-uppercase collapsible-link py-2"><span><i class="fas fa-dollar-sign mr-1"></i></span> price</a></h6>
                        </div>
                        <div id="collapseFive" aria-labelledby="headingFive" data-parent="#accordionExample" class="collapse">
                            <div class="card-body">
                                <section class="range-slider">
                                    <span class="rangeValues show"></span>
                                    <input value="0" min="0" max="5000" step="10" type="range">
                                    <input value="5000" min="0" max="5000" step="10" type="range">
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-8 col-md-9 col-sm-12 p-0 m-0 mb-5">
            <div class="el-wrapper card-deck float-left">
                <div class="box-up">
                    <img class="img" src="../../../assets/img/bs-4.png" alt="">
                    <div class="img-info">
                        <div class="info-inner">
                            <span class="p-name">SHOES</span>
                            <a href="#" class="p-company"> Wishlist  <i class="bx bx-heart  bx-xs bx-fw bx-flashing-hover icon-single" ></i></a>
                        </div>
                        <div class="a-size">Available: <span class="size">1</span></div>
                    </div>
                </div>

                <div class="box-down">
                    <div class="h-bg">
                        <div class="h-bg-inner"></div>
                    </div>

                    <a class="cart" href="#">
                        <span class="price">$250</span>
                        <span class="add-to-cart">
                          <a href="#" class="txt">Add in cart  <i class="bx bx-cart-alt bx-sm bx-fw bx-tada-hover icon-single" ></i></a>
                                      </span>
                    </a>
                </div>
            </div>
            <div class="el-wrapper card-deck float-left">
                <div class="box-up">
                    <img class="img" src="../../../assets/img/bs-4.png" alt="">
                    <div class="img-info">
                        <div class="info-inner">
                            <span class="p-name">SHOES</span>
                            <a href="#" class="p-company"> Wishlist  <i class="bx bx-heart  bx-xs bx-fw bx-flashing-hover icon-single" ></i></a>
                        </div>
                        <div class="a-size">Available: <span class="size">1</span></div>
                    </div>
                </div>

                <div class="box-down">
                    <div class="h-bg">
                        <div class="h-bg-inner"></div>
                    </div>

                    <a class="cart" href="#">
                        <span class="price">$250</span>
                        <span class="add-to-cart">
                        <a href="#" class="txt">Add in cart  <i class="bx bx-cart-alt bx-sm bx-fw bx-tada-hover icon-single" ></i></a>
                                    </span>
                    </a>
                </div>
            </div>
            <div class="el-wrapper card-deck float-left">
                <div class="box-up">
                    <img class="img" src="../../../assets/img/bs-4.png" alt="">
                    <div class="img-info">
                        <div class="info-inner">
                            <span class="p-name">SHOES</span>
                            <a href="#" class="p-company"> Wishlist  <i class="bx bx-heart  bx-xs bx-fw bx-flashing-hover icon-single" ></i></a>
                        </div>
                        <div class="a-size">Available: <span class="size">1</span></div>
                    </div>
                </div>

                <div class="box-down">
                    <div class="h-bg">
                        <div class="h-bg-inner"></div>
                    </div>

                    <a class="cart" href="#">
                        <span class="price">$250</span>
                        <span class="add-to-cart">
                      <a href="#" class="txt">Add in cart  <i class="bx bx-cart-alt bx-sm bx-fw bx-tada-hover icon-single" ></i></a>
                                  </span>
                    </a>
                </div>
            </div>
            <div class="el-wrapper card-deck float-left">
                <div class="box-up">
                    <img class="img" src="../../../assets/img/bs-4.png" alt="">
                    <div class="img-info">
                        <div class="info-inner">
                            <span class="p-name">SHOES</span>
                            <a href="#" class="p-company"> Wishlist  <i class="bx bx-heart  bx-xs bx-fw bx-flashing-hover icon-single" ></i></a>
                        </div>
                        <div class="a-size">Available: <span class="size">1</span></div>
                    </div>
                </div>

                <div class="box-down">
                    <div class="h-bg">
                        <div class="h-bg-inner"></div>
                    </div>

                    <a class="cart" href="#">
                        <span class="price">$250</span>
                        <span class="add-to-cart">
                    <a href="#" class="txt">Add in cart  <i class="bx bx-cart-alt bx-sm bx-fw bx-tada-hover icon-single" ></i></a>
                                </span>
                    </a>
                </div>
            </div>
            <div class="el-wrapper card-deck float-left">
                <div class="box-up">
                    <img class="img" src="../../../assets/img/bs-4.png" alt="">
                    <div class="img-info">
                        <div class="info-inner">
                            <span class="p-name">SHOES</span>
                            <a href="#" class="p-company"> Wishlist  <i class="bx bx-heart  bx-xs bx-fw bx-flashing-hover icon-single" ></i></a>
                        </div>
                        <div class="a-size">Available: <span class="size">1</span></div>
                    </div>
                </div>

                <div class="box-down">
                    <div class="h-bg">
                        <div class="h-bg-inner"></div>
                    </div>

                    <a class="cart" href="#">
                        <span class="price">$250</span>
                        <span class="add-to-cart">
                  <a href="#" class="txt">Add in cart  <i class="bx bx-cart-alt bx-sm bx-fw bx-tada-hover icon-single" ></i></a>
                              </span>
                    </a>
                </div>
            </div>
            <div class="el-wrapper card-deck float-left">
                <div class="box-up">
                    <img class="img" src="../../../assets/img/bs-4.png" alt="">
                    <div class="img-info">
                        <div class="info-inner">
                            <span class="p-name">SHOES</span>
                            <a href="#" class="p-company"> Wishlist  <i class="bx bx-heart  bx-xs bx-fw bx-flashing-hover icon-single" ></i></a>
                        </div>
                        <div class="a-size">Available: <span class="size">1</span></div>
                    </div>
                </div>

                <div class="box-down">
                    <div class="h-bg">
                        <div class="h-bg-inner"></div>
                    </div>

                    <a class="cart" href="#">
                        <span class="price">$250</span>
                        <span class="add-to-cart">
                <a href="#" class="txt">Add in cart  <i class="bx bx-cart-alt bx-sm bx-fw bx-tada-hover icon-single" ></i></a>
                            </span>
                    </a>
                </div>
            </div>
            <div class="el-wrapper card-deck float-left">
                <div class="box-up">
                    <img class="img" src="../../../assets/img/bs-4.png" alt="">
                    <div class="img-info">
                        <div class="info-inner">
                            <span class="p-name">SHOES</span>
                            <a href="#" class="p-company"> Wishlist  <i class="bx bx-heart  bx-xs bx-fw bx-flashing-hover icon-single" ></i></a>
                        </div>
                        <div class="a-size">Available: <span class="size">1</span></div>
                    </div>
                </div>

                <div class="box-down">
                    <div class="h-bg">
                        <div class="h-bg-inner"></div>
                    </div>

                    <a class="cart" href="#">
                        <span class="price">$250</span>
                        <span class="add-to-cart">
                        <a href="#" class="txt">Add in cart  <i class="bx bx-cart-alt bx-sm bx-fw bx-tada-hover icon-single" ></i></a>
                                    </span>
                    </a>
                </div>
            </div>
            <div class="el-wrapper card-deck float-left">
                <div class="box-up">
                    <img class="img" src="../../../assets/img/bs-4.png" alt="">
                    <div class="img-info">
                        <div class="info-inner">
                            <span class="p-name">SHOES</span>
                            <a href="#" class="p-company"> Wishlist  <i class="bx bx-heart  bx-xs bx-fw bx-flashing-hover icon-single" ></i></a>
                        </div>
                        <div class="a-size">Available: <span class="size">1</span></div>
                    </div>
                </div>

                <div class="box-down">
                    <div class="h-bg">
                        <div class="h-bg-inner"></div>
                    </div>

                    <a class="cart" href="#">
                        <span class="price">$250</span>
                        <span class="add-to-cart">
                      <a href="#" class="txt">Add in cart  <i class="bx bx-cart-alt bx-sm bx-fw bx-tada-hover icon-single" ></i></a>
                                  </span>
                    </a>
                </div>
            </div>
            <div class="el-wrapper card-deck float-left">
                <div class="box-up">
                    <img class="img" src="../../../assets/img/bs-4.png" alt="">
                    <div class="img-info">
                        <div class="info-inner">
                            <span class="p-name">SHOES</span>
                            <a href="#" class="p-company"> Wishlist  <i class="bx bx-heart  bx-xs bx-fw bx-flashing-hover icon-single" ></i></a>
                        </div>
                        <div class="a-size">Available: <span class="size">1</span></div>
                    </div>
                </div>

                <div class="box-down">
                    <div class="h-bg">
                        <div class="h-bg-inner"></div>
                    </div>

                    <a class="cart" href="#">
                        <span class="price">$250</span>
                        <span class="add-to-cart">
                    <a href="#" class="txt">Add in cart  <i class="bx bx-cart-alt bx-sm bx-fw bx-tada-hover icon-single" ></i></a>
                                </span>
                    </a>
                </div>
            </div>
            <div class="el-wrapper card-deck float-left">
                <div class="box-up">
                    <img class="img" src="../../../assets/img/bs-4.png" alt="">
                    <div class="img-info">
                        <div class="info-inner">
                            <span class="p-name">SHOES</span>
                            <a href="#" class="p-company"> Wishlist  <i class="bx bx-heart  bx-xs bx-fw bx-flashing-hover icon-single" ></i></a>
                        </div>
                        <div class="a-size">Available: <span class="size">1</span></div>
                    </div>
                </div>

                <div class="box-down">
                    <div class="h-bg">
                        <div class="h-bg-inner"></div>
                    </div>

                    <a class="cart" href="#">
                        <span class="price">$250</span>
                        <span class="add-to-cart">
                  <a href="#" class="txt">Add in cart  <i class="bx bx-cart-alt bx-sm bx-fw bx-tada-hover icon-single" ></i></a>
                              </span>
                    </a>
                </div>
            </div>
            <div class="el-wrapper card-deck float-left">
                <div class="box-up">
                    <img class="img" src="../../../assets/img/bs-4.png" alt="">
                    <div class="img-info">
                        <div class="info-inner">
                            <span class="p-name">SHOES</span>
                            <a href="#" class="p-company"> Wishlist  <i class="bx bx-heart  bx-xs bx-fw bx-flashing-hover icon-single" ></i></a>
                        </div>
                        <div class="a-size">Available: <span class="size">1</span></div>
                    </div>
                </div>

                <div class="box-down">
                    <div class="h-bg">
                        <div class="h-bg-inner"></div>
                    </div>

                    <a class="cart" href="#">
                        <span class="price">$250</span>
                        <span class="add-to-cart">
                <a href="#" class="txt">Add in cart  <i class="bx bx-cart-alt bx-sm bx-fw bx-tada-hover icon-single" ></i></a>
                            </span>
                    </a>
                </div>
            </div>
            <div class="el-wrapper card-deck float-left">
                <div class="box-up">
                    <img class="img" src="../../../assets/img/bs-4.png" alt="">
                    <div class="img-info">
                        <div class="info-inner">
                            <span class="p-name">SHOES</span>
                            <a href="#" class="p-company"> Wishlist  <i class="bx bx-heart  bx-xs bx-fw bx-flashing-hover icon-single" ></i></a>
                        </div>
                        <div class="a-size">Available: <span class="size">1</span></div>
                    </div>
                </div>

                <div class="box-down">
                    <div class="h-bg">
                        <div class="h-bg-inner"></div>
                    </div>

                    <a class="cart" href="#">
                        <span class="price">$250</span>
                        <span class="add-to-cart">
              <a href="#" class="txt">Add in cart  <i class="bx bx-cart-alt bx-sm bx-fw bx-tada-hover icon-single" ></i></a>
                          </span>
                    </a>
                </div>
            </div>
        </div>
    </div>


</section>
