//===========================================================================================//
//=============================== the website color palette ==================================//
//===========================================================================================//
// $color-solid-black: #242423;
// $color-soft-black: #333533;
// $color-blue-grey: #cfdbd5;
// $color-grey: #e5e5e5;
// $color-white: #ffffff;
// $color-dark-red: #7C1813;
// $color-dark-blue: #0A111F;
// $color-soft-blue: #1F91AD;
// $color-soft-babe-blue: #8ecae6;
// $color-solid-gold: #F29602;
// $color-soft-gold: #f5cb5c;
//===========================================================================================//
$black: #191919;
$white: #FFFFFF;
$ecru: #BBA671;
$spanish-grey: #94979C;
$powder-blue: #C9E1E3;
$middle-blue: #89D0C8;
$ocean-green: #6DC6A8;
$pear: #D2DC25;
//===========================================================================================//
