<div class="wrapper">
    <div class="outer">
        <div class="content ">
            <span class="bg animate__animated animate__heartBeat animate__slow 3s animate__delay-3s	3s  ">NEW</span>
            <h1 class="animate__animated animate__fadeInLeft animate__slow	1s ">Deal Of The Week </h1>
            <p class="animate__animated animate__fadeInLeft animate__slow	1s ">Faux Leather, Mesh Fabric, Contrast Lace Up Platform Trainers for Men.</p>

            <div class="button animate__animated animate__fadeInLeft animate__slow	1s ">
                <a href="#">$115</a><a class="cart-btn" href="#"><i class="bx bx-cart-alt bx-fw"></i>ADD TO CART</a>
            </div>

        </div>
        <img src="../../../assets/img/c-s-1.png" width="300px" class="animate__animated animate__fadeInRight animate__slow	1s  ">