@import "../../app.component.scss";
.Title {
    color: $black;
    font-size: 2.5em;
    .under-line {
        font-weight: 800;
        color: $black;
        background-image: linear-gradient( transparent calc(75% - 5px), lighten($pear, 5%) 5px, );
        background-size: 0;
        background-repeat: no-repeat;
        display: inline;
        transition: 0.5s ease;
    }
    &:hover {
        .under-line {
            background-size: 100%;
        }
    }
}

// =======================
.d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.align-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.flex-centerY-centerX {
    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.page-wrapper {
    height: 100%;
    display: table;
}

.page-wrapper .page-inner {
    display: table-cell;
    vertical-align: middle;
}

.el-wrapper {
    width: 300px;
    padding: 15px;
    margin: 15px auto;
    background-color: $white;
    border: 1px solid;
    border-color: $spanish-grey;
    box-shadow: ($spanish-grey, 0.25);
}

.el-wrapper:hover .h-bg {
    left: 0px;
}

.el-wrapper:hover .price {
    left: 20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    color: $black;
}

.el-wrapper:hover .add-to-cart {
    left: 50%;
}

.el-wrapper:hover .img {
    -o-filter: blur(7px);
    -ms-filter: blur(7px);
    filter: blur(7px);
    opacity: 0.4;
}

.el-wrapper:hover .info-inner {
    bottom: 155px;
}

.el-wrapper:hover .a-size {
    -webkit-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    transition-delay: 300ms;
    bottom: 50px;
    opacity: 1;
}

.el-wrapper .box-down {
    width: 100%;
    height: 60px;
    position: relative;
    overflow: hidden;
}

.el-wrapper .box-up {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.el-wrapper .img {
    padding: 20px 0;
    width: 100%;
    height: 220px;
    -webkit-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
}

.h-bg {
    -webkit-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    width: 660px;
    height: 100%;
    background-color: $pear;
    position: absolute;
    left: -659px;
}

.h-bg .h-bg-inner {
    width: 50%;
    height: 100%;
    background-color: $pear;
}

.info-inner {
    -webkit-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    position: absolute;
    width: 100%;
    bottom: 25px;
}

.info-inner .p-name,
.info-inner .p-company {
    display: block;
}

.info-inner .p-name {
    font-weight: 500;
    font-size: 18px;
    color: $black;
}

.info-inner .p-company {
    margin: 5px 35px;
    padding: 2px 0;
    text-align: center;
    text-decoration: none;
    border: 1.5px solid $ecru;
    border-radius: 2px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: $ecru;
}

.a-size {
    -webkit-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    position: absolute;
    width: 100%;
    bottom: -20px;
    font-weight: 500;
    color: $middle-blue;
    opacity: 0;
}

.a-size .size {
    color: $black;
}

.cart {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-weight: 700;
}

.cart .price {
    -webkit-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    transition-delay: 100ms;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 14px;
    color: $black;
}

.cart .add-to-cart {
    -webkit-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    transition-delay: 100ms;
    display: block;
    position: absolute;
    top: 50%;
    left: 110%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.cart .add-to-cart .txt {
    font-size: 12px;
    color: $white;
    text-decoration: none;
    letter-spacing: 0.045em;
    text-transform: uppercase;
    white-space: nowrap;
}


/* Custom Badge */

span.badge {
    font-size: 12px;
    line-height: 16px;
    position: absolute;
    z-index: 1000;
    color: $white;
    padding: 5px 10px;
    background: $pear;
    font-weight: 700;
    border-radius: 100px;
}

@media (max-width: 1024px) {
    .Title {
        font-size: 2.4em;
        .under-line {
            font-weight: 800;
        }
    }
    .el-wrapper {
        width: 240px;
    }
}

@media (max-width: 768px) {
    .el-wrapper {
        width: 210px;
        margin: 30px auto;
    }
    .Title {
        font-size: 1.8em;
        .under-line {
            font-weight: 800;
        }
    }
}

@media (max-width: 540px) {
    .el-wrapper {
        width: 240px;
        margin: 30px auto;
    }
    .Title {
        font-size: 1.4em;
        .under-line {
            font-weight: 800;
        }
    }
}

@media (max-width: 414px) {
    .el-wrapper {
        width: 300px;
        margin: 30px auto;
    }
    .Title {
        font-size: 1.4em;
        .under-line {
            font-weight: 800;
        }
    }
}

@media (max-width: 375px) {
    .Title {
        font-size: 1.4em;
        .under-line {
            font-weight: 800;
        }
    }
}

@media (max-width: 360px) {
    .Title {
        font-size: 1.4em;
        .under-line {
            font-weight: 800;
        }
    }
}

@media (max-width: 320px) {
    .Title {
        font-size: 1.4em;
        .under-line {
            font-weight: 800;
        }
    }
    .el-wrapper {
        width: 260px;
        margin: 5px;
    }
}

@media (max-width: 280px) {
    .el-wrapper {
        width: 220px;
        margin: 30px auto;
    }
    .Title {
        font-size: 1.4em;
        .under-line {
            font-weight: 800;
        }
    }
}

.el-wrapper:hover {
    border: 0.5px solid;
    border-color: $ocean-green;
    box-shadow: ($ocean-green, 0.25);
}
