<div class="container mt-5">
    <div class="col-12 card-title mb-1 mt-1 text-center my-5 Title" data-aos="fade-up" data-aos-duration="3000"> <span class="under-line">Shop By Category</span> </div>
    <div class="row mt-4">
        <div class="col-md-4 col-sm-6">
            <div class="box8">
                <img src="../../../assets/img/c-1.jpg">
                <h3 class="title">MEN'S</h3>
                <div class="box-content">
                    <ul class="icon">
                        <li><a href="#"><i class='bx bx-show-alt' ></i> </a> </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="box8">
                <img src="../../../assets/img/c-2.jpg">
                <h3 class="title">WOMEN'S</h3>
                <div class="box-content">
                    <ul class="icon">
                        <li><a href="#"><i class='bx bx-show-alt' ></i> </a> </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="box8">
                <img src="../../../assets/img/c-4.jpg">
                <h3 class="title">KID'S</h3>
                <div class="box-content">
                    <ul class="icon">
                        <li><a href="#"><i class='bx bx-show-alt' ></i> </a> </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 mt-3">
            <div class="box8">
                <img src="../../../assets/img/c-3.jpg">
                <h3 class="title">RUNNING</h3>
                <div class="box-content">
                    <ul class="icon">
                        <li><a href="#"><i class='bx bx-show-alt' ></i> </a> </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 mt-3">
            <div class="box8">
                <img src="../../../assets/img/c-6.jpg">
                <h3 class="title">ACCESSORIES</h3>
                <div class="box-content">
                    <ul class="icon">
                        <li><a href="#"><i class='bx bx-show-alt' ></i> </a> </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 mt-3">
            <div class="box8">
                <img src="../../../assets/img/c-5.jpg">
                <h3 class="title">NEW ARRIVAL</h3>
                <div class="box-content">
                    <ul class="icon">
                        <li><a href="#"><i class='bx bx-show-alt' ></i> </a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
